.row {
  padding: 12px 0;
}
.city-name {
  font-weight: 300;
  margin-bottom: 25px;
}
.col {
  @media only screen and (min-width: 768px) {
    width: 20% !important;
  }
}
.day-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 4px;
  padding: 12px 0;
  margin-bottom: 24px;
  background-color: #d4ebf2;
  span {
    color: #505050;
    margin-bottom: 5px;
  }
}
.placeholder {
  color: #bbb;
  padding: 53px;
  text-align: center;
  border: 1px solid #ced4da;
  border-radius: 4px;
}
