.suggestion {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  border: 1px solid hsl(210, 14%, 83%);
  border-radius: 4px;
  max-height: 192px;
  overflow: scroll;
  span {
    padding: 7px 12px;
    cursor: pointer;
    &:hover {
      background-color: #00000013;
    }
  }
}
